<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Europcar</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/theme-zest.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/component.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
  <link href="css/menu_sideslide.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/ns-default.css" />
  <link rel="stylesheet" type="text/css" href="css/ns-style-growl.css" />
  <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
  <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body>
  <div class="loader">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
    <div class="menu-wrap">
      <nav class="menu" id="menuCtrl">
        <div class="icon-list">
          <div class="list-container" v-for="service in services">
            <a href="#" @click="toggleInput($index)">
              <i class="fa fa-fw {{service.class}}"></i>
              <span>{{service.name}}</span>
              <i class="fa fa-fw fa-check text-primary m-l-sm" v-if="service.activated && !service.dirty"></i>
              <i class="fa fa-fw fa-close text-error m-l-sm" v-if="service.error && service.dirty"></i>
            </a>
            <a href="#" @click="saveInput($index, service.url)" class="btn btn-primary btn-filled btn-xxs m-l-xs" v-show="service.dirty && service.showInput == true && service.loading != true">
              <i class="fa fa-fw fa-save m-r-xs"></i>Opslaan
            </a>
            <a href="#" class="btn btn-primary btn-filled btn-xxs m-l-xs" v-show="service.dirty && service.showInput == true && service.loading == true">
              <i class="fa fa-fw fa-spinner spin"></i>
            </a>
            <input class="m-l-lg m-t-sm clean-input" v-show="service.showInput == true" v-model="service.value" placeholder="{{service.name}}" @keyup="toggleButtons($index)"/>
          </div>
        </div>
      </nav>
      <button class="close-button" data-trigger="menu">Sluit Menu</button>
    </div>
    <button class="menu-button" data-trigger="menu">Open Menu</button>
    <div class="content-wrap">
      <div class="nav-container">
        <nav class="fullscreen-nav top-bar overlay-bar">

          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <a href="index.html">
                  <img alt="logo" class="outer-logo" src="img/logo-europcar-218.png">
                </a>
              </div>
            </div>
          </div>

          <div class="fullscreen-nav-toggle">
            <i class="icon icon_question"></i>
            <i class="icon icon_close"></i>
          </div>

          <div class="fullscreen-nav-container">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <a href="index.html">
                    <img class="logo" alt="Logo" src="img/logo-europcar-218.png">
                  </a>
                  <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="http://europcar.nl/" target="_blank">Europcar</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="main-container" id="main">
        <header class="fullscreen-element no-pad centered-text">
          <div class="background-image-holder parallax-background overlay">
            <img class="background-image" alt="Background Image" src="img/hero-europcar.jpg">
          </div>

          <div class="container align-vertical">
            <div class="row">
              <div class="col-md-12 text-center">
                <span class="text-white alt-font">Hi {{user.name}}, welkom bij Europcar Oproepauto</span>
                <h1 class="text-white">Om je sneller als klant te kunnen accepteren leren we je graag iets beter kennen. Link daarom hier de online diensten waarvan jij gebruik maakt.</h1>
                <p class="lead text-white">We gebruiken jouw online profielen enkel eenmalig voor ons acceptatiekader. Er wordt niets gepost :)</p>
                <a href="#faq" class="btn btn-primary btn-white">Vertel me meer</a>
                <a href="#" class="btn btn-primary btn-filled" data-trigger="menu">Ga meteen verder</a>
              </div>
            </div>
          </div>
        </header>

        <section class="accordion-section" id="faq">
          <div class="container">
            <div class="row">
              <div class="col-sm-5 col-md-4 align-vertical no-align-mobile">
                <ul class="icons-large">
                  <li><i class="icon icon-circle-compass"></i></li>
                  <li><i class="icon icon-lightbulb"></i></li>
                  <li><i class="icon icon-scissors"></i></li>
                </ul>
                <h1 class="no-margin-bottom">We gebruiken jouw online profielen alleen tijdens deze aanmeldprocedure.</h1>
              </div>

              <div class="col-sm-7 col-md-4">
                <ul class="accordion">
                  <li class="active">
                    <div class="title"><span>Waar wordt mijn data voor gebruikt?</span></div>
                    <div class="text">
                      <p>
                        Aanvragen voor Europcar Oproepauto worden beoordeeld door onze medewerkers. Jouw online profielen helpen ons bij deze beoordeling.
                      </p>
                      <p>
                        Jouw data wordt enkel en alleen tijdens de aanvraag gebruikt en nooit gedeeld. Jouw data is dus absoluut veilig.
                      </p>
                    </div>
                  </li>

                  <li>
                    <div class="title"><span>Ik heb niet bij alle diensten een profiel. Kan ik toch mee doen?</span></div>
                    <div class="text">
                      <p>
                        Natuurlijk. Hoe meer profielen, hoe sneller we jouw aanvraag kunnen verwerken. Het is echter geen probleem wanneer je niet op alle platformen actief bent.
                      </p>
                      <p>
                        Mocht je bij geen enkele van de diensten gebruik maken kun je dat <a href>hier</a> aangeven.
                      </p>
                    </div>
                  </li>

                  <li>
                    <div class="title"><span>Hoe werkt het acceptatieproces?</span></div>
                    <div class="text">
                      <p>
                        Ons systeem genereert op basis van jouw input een eerste indicatie. Onze medewerkers gebruiken dit in combinatie met het standaard proces om een snelle inschatting te maken.
                      </p>
                      <p>
                        De output van het systeem dient enkel ter ondersteuning en is dus niet leidend.
                      </p>
                    </div>
                  </li>

                  <li>
                    <div class="title"><span>Vraag 4</span></div>
                    <div class="text">
                      <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                      </p>
                      <p>
                        Aaperiam, eaque ipsa quae ab illo inventore veritatis sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem et quasi architecto beatae totam.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="col-md-4 hidden-sm align-vertical no-align-mobile">
                <div class="feature">
                  <h5>Rond je aanmelding zo snel mogelijk af</h5>
                  <p>
                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
                  </p>
                </div>

                <div class="feature">
                  <h5>Morgen al een Europcar auto voor de deur</h5>
                  <p>
                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="strip bg-secondary-1">
          <div class="container">
            <div class="row clearfix">
              <div class="col-sm-6 col-xs-12 pull-left">
                <h3 class="text-white"><strong>Versnel je aanmelding.</strong> Koppel je profielen.</h3>
              </div>

              <div class="col-sm-4 col-xs-12 pull-right text-right">
                <a href="#" class="btn btn-primary btn-white" data-trigger="menu">Meteen beginnen</a>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="footer-container">
      </div>

      <div class="md-overlay"></div>
    </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.plugin.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.flexslider-min.js"></script>
  <script src="js/smooth-scroll.min.js"></script>
  <script src="js/skrollr.min.js"></script>
  <script src="js/spectragram.min.js"></script>
  <script src="js/scrollReveal.min.js"></script>
  <script src="js/isotope.min.js"></script>
  <script src="js/twitterFetcher_v10_min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/scripts.js"></script>

  <script src="js/list.min.js"></script>

  <script src="js/classie.js"></script>
  <script src="js/sidebar.js"></script>
  <script src="js/notificationFx.js"></script>

  <!-- Build js vanuit browserify -->
  <script src="js/build.js"></script>
</body>

</html>
